[2017-10-22 10:11] mblarsen opened #1 "vue-router support"

[2017-10-25 06:58] #1 closed

[2017-11-24 14:30] CinKon opened #2 "Write examples"
Could you provide an example in your repository? I just can't figure out how to get this to work :(

---

Example cases:

- [x] user from state
- [x] user async
- [x] Acl separate from `Vue.use`
- [x] string syntax

[2017-11-24 14:34] mblarsen commented on #2
What parts are you having trouble with?

Be sure to check https://github.com/mblarsen/browser-acl on how to set up rules.

Once your rules are configured you use `v-can` in place of `v-if`

[2017-11-24 14:37] CinKon commented on #2
I'm already having trouble to initialize it correctly :D

Your readme says the following:

[code]

But all parameters here are variables. Where do they come from, and how do they have to be structured, since infos like `user`, `Post` or anything won't exists before the Vue-App isn't initialized itself...

[2017-11-24 14:43] mblarsen commented on #2
`user` and `Post` are the two variables not accounted for, here is a more complete example:

[code]

Instead of importing all of your models you can also supply a string instead. So replace `Post` with `'Post'`. That way you can omit the Post import.

The user can come from anywhere. Typically your back-end renders it as an initial state of your application after a user has logged in.

[2017-11-24 14:45] mblarsen commented on #2
@CinKon [here is an example](https://www.codementor.io/vuejsdevelopers/avoid-this-common-anti-pattern-in-full-stack-vue-laravel-apps-b01z2zsig#injecting-initial-application-state) of what I mean by initial state

[2017-11-24 14:52] mblarsen commented on #2
Anyway, I'll add an example in the coming days and see if I can improve the docs.

[2017-11-24 14:54] CinKon commented on #2
OK, so you're going with a server-side injected JS-Object...
I'm not sure if i like this approach, since we build fully API-based apps...

[2017-11-24 14:57] mblarsen commented on #2
No, that was just for the example. You can set the user later one once logged in however you chose to do so.

[2017-11-24 14:59] mblarsen commented on #2
Instead of a user object you can provide an accessor function that will return the user object once it is available. See here:

https://github.com/mblarsen/vue-browser-acl/blob/master/index.js#L32

[2017-11-24 15:00] CinKon commented on #2
Great, I'll try that :)

[2017-11-27 08:14] mblarsen commented on #2
@CinKon I will add examples of course, but also have a look at this repo that uses it with vuex https://github.com/justclimber/climbnet/tree/master/resources/assets/js

[2018-02-05 09:39] alphaelf opened #3 "[Question] Can we use it with laravel ?"

[2018-02-05 09:53] mblarsen commented on #3
Yes, Laravel is not a dependency. Parts of the component/library is just inspired by how you do policies in Laravel.

[2018-02-05 09:53] #3 closed

[2018-03-03 04:10] robodude opened #4 "Access to ACL within a Vuex store"
I'm trying to think of how I'd be able to filter an array that resides within a Vuex store.

I would love to be able to do this:

[code]
I can make a computed inside the component where needed that uses $can

but I might need to make a mixin or copy paste that code where I need that list. It would be great to just have access to can from within the store.

[2018-03-03 06:25] mblarsen commented on #4
What I've done is provide a pre- or partially configured Acl instance (browser-acl) to the plugin (vue-browser-acl). E.g

[code]

[code]

[code]

Something like that. The main idea is that the acl instance is created separately from the init of the plugin. That way you can use it separately but also you can pass it arround and build up your rules and policies gradually (eg. one place for posts ano

[2018-03-03 06:35] robodude commented on #4
Yeah, something like this would have been my suggestion - glad to see you already thought of it. :) Thanks for the quick response

[2018-03-03 06:38] mblarsen commented on #4
I have an idea for better vuex integration. Will work on it later.

[2018-03-03 07:29] mblarsen commented on #4
I’ve had a look at the vuex getters. While mutations is easily accessible with a plugin the getters are not exposed in the same way (will have to look more at it). I was looking into if some automatic acl could take place, but thinking about it may be too much magic, so I’m partially against it.

Anyway it is simple to add `$can` to the store itself. That way you can use it in your getters and/or

[2018-03-03 11:45] mblarsen commented on #4
Had another idea. `mapGetters` could be wrapped in a function. So you would use the vue-browser-acl mapGetter instead of the vuex one

E.g.

[code]

[2018-03-04 01:31] #4 closed

[2018-03-16 14:18] 380Z opened #5 "Is there any way to reset the rules?"
For example when logging out.

[2018-03-16 16:15] mblarsen commented on #5
Why would your rules change when being locked out?

[2018-03-16 16:16] mblarsen commented on #5
*logged

[2018-03-17 06:26] mblarsen commented on #5
There is no reset method, but if it makes sense we can add one.

What do you mean by reset?

* Remove a rule?
* Remove all rules?

[2018-03-17 07:59] mblarsen commented on #5
Features added in version 0.6.1 [see docs for browser-acl](https://github.com/mblarsen/browser-acl#reset)

[2018-03-17 07:59] #5 closed

[2018-03-26 14:34] MarkASwanson opened #6 "Default route permission fail option"
It would be convenient to be able to set a default fail option for route permissions; Most of the time I would like to redirect to a login page.

On the same topic, being able to set default options to next() on failure seems useful as well; Most of the time I like to redirect to a login page using { replace: true }.

[2018-03-26 15:09] mblarsen commented on #6
Could you provide example of your two use cases?

[2018-03-27 08:26] mblarsen commented on #6
@MarkASwanson

You can set the `failRoute` on options to a string or object. See [this section](https://github.com/mblarsen/vue-browser-acl#default-fail-route).

That would work, no?

[2018-03-27 13:19] pietdevries94 opened #7 "Function to replace the userAccessor"
Hello,

Currently, you can only use a single userAccessor, but for our tests, it would help out a lot to be able to replace it, because for components with permission checks, it helps out to just put in a mock user object, without adding all the authentication, or not using the plugin we use in production for adding our permissions.

[2018-03-27 16:18] mblarsen commented on #7
Can you not set the `userAccessor` to be a function that returns the user mock in your tests?

[2018-03-28 03:34] #6 closed

[2018-03-28 03:35] mblarsen commented on #6
Published 0.7.0

[2018-04-02 04:12] mblarsen commented on #7
@pietdevries94 did you manage to find a solution with `userAccessor`?

[2018-05-03 11:24] molobala opened #8 "Problem with vue-router"
When using vue-router, I'm getting a trouble with `vue-browser-acl`.
Step to reproduce:
[code]
I use empty object (`{}`) since I don't need any model to deal with, and everything is ok when using `v-can` directive or `$can` helper like this `v-if="$can('administrate', {})"` or `v-can:administrate="{}"`

But when I use the `meta` object of route using empty object `{}` the check fail always
[code]

[2018-05-03 14:46] mblarsen commented on #8
Thanks for raising this issue.

Please see the [globals section](https://github.com/mblarsen/browser-acl#additional-parameters-and-global-rules) for how to create rules without subject. The way you are doing it isn't the intended usage.

You are right that there is an issue with route handling. I'll look into it tomorrow.

Again, you shouldn't use `'manage_users {}'` you can only use types/classes

[2018-05-03 15:13] molobala commented on #8
Thank you for your quick replay
Okay I will take a  look at that section.

[2018-05-04 06:41] mblarsen commented on #8
I've published a new version (0.8.0) with a fix for this.

It also adds a new feature to set the `failRoute` to `$from` redirecting the user back to where they came from.

[2018-05-04 06:41] #8 closed

[2018-06-11 14:01] go4cas commented on #2
@mblarsen ... I've got my user and acl data in vuex. Everything is working fine, but when I try using the following acl:

[code]

I get "*Cannot read property 'contains' of undefined*".

The console.log does show the object with the `acl` array.

Any ideas?

[2018-06-12 04:38] go4cas opened #9 "Can't access user object in acl method"
I have tried to implement vue-browser-acl into my app, according to your samples in https://github.com/mblarsen/vue-browser-acl/issues/2.

I store my user account and acl data in vuex.

I load the vue-browser-acl plugin:
[code]

The user object is stored in a vuex module, withe the following properties:

- email: string
- name: string
- acl: array

In `App.vue` I fire a `beforeMount()` action on t

[2018-06-12 07:56] mblarsen commented on #9
Are you sure the user object already exist when you do this:

[code]

Ideally you should use the vuex user getter or create your own user function:

[code]

About the button I recommend this syntax:

[code]

About the `user.acl` value. Yes you are correct it shows up in the console as it does because of Vue's reactivity. I'm assuming that it should contain some values from your database signifying

[2018-06-13 04:33] go4cas commented on #9
Thanks, @mblarsen. I have tried your suggestions, but still no luck.

Here's the updated code:
`vuew-broswer-acl.js`
[code]
Here I just comment out whichever strategy (function or getter) I tested.
``
[code]

[2018-06-13 05:44] mblarsen commented on #9
It sounds like there is a race with when the user is set. Can you try to:

1. console log in your mutator when the user is set
2. console log in your acl rule the user object

Is it in fact present at all times as expected?

You can also try to make your view dependent on your user object. That is not to render until the user object is ready. You add this with `v-if` on a parent element.

[2018-06-21 01:54] mblarsen commented on #9
Closing due to inactivity.

Also the problem seems to be a race-condition rather than a lib issue.

[2018-06-21 01:54] #9 closed

[2018-08-15 05:58] asadhshujau opened #10 "pass object in a different name than in rule"
for example in the rules its like ...

[code]

on the html file can i pass it in a different name ??? something like the following...

[code]

im asking cos i love this package.. if i can do this then that would be great

[2018-08-15 06:00] asadhshujau commented on #10
is there a work around? since props.item is how i get the data from data table its how i can get them since i use vuetify

[2018-08-15 06:09] mblarsen commented on #10
Yes you can do as in your example. You can pass either a string, object or function object (your class if you have any) and it will try to figure out what you mean. E.g when you use `props.item` it will check the name of constructor (function/class) that created your object. So if you had Book class it would know that 'Book' is the rule set to look for.

Two pitfalls:

1. Minification, names are c

[2018-08-15 06:26] asadhshujau commented on #10
@mblarsen THANKS :+1:  works :D

[2018-08-15 10:17] asadhshujau opened #11 "access additional arguements"
in your example you have shown

[code]

how do i access ``` otherArgs ``` in ```acl.rule()``` ?

[2018-08-15 10:31] asadhshujau commented on #11
okay figured.
here's an example for anyone who wants to know this
[code]

[2018-08-17 14:51] mblarsen commented on #11
You can see an example in this test case https://github.com/mblarsen/browser-acl/blob/master/test/Acl.test.js#L74

In addition here is an example from a project I'm working on.

[code]

An here is one way to use it:

[code]

The so if I (as the user) can transfer job to another user, then I'll see the button.

You can keep adding as many arguments as you want, they are just passed to the rule func

[2018-08-17 14:51] mblarsen commented on #10
Great, I'll close the issue then :)

[2018-08-17 14:51] #10 closed

[2018-08-29 22:50] tkrause opened #12 "Hide with ref attribute causes application error"
When using vue-browser-acl with a v-can and ref attribute on the same VueJS component, an error is thrown.

![image](https://user-images.githubusercontent.com/1427628/44819783-f8adee00-aba2-11e8-9977-677c71d76627.png)

We did some digging, turns out that the hide function is what causes this. The commentNode function in the library sets context to undefined. In vue core, they access the refs prop

[2018-09-02 06:40] asadhshujau opened #13 "ACL Policies"
how do i use Policies with vue browser acl ?

[2018-09-05 03:30] mblarsen commented on #13
See https://github.com/mblarsen/browser-acl#setup for how to wire up and https://github.com/mblarsen/browser-acl#policy for an example.

[code]

You can also "new" the policy if you need to pass anything to the constructor. Basically if it is a function it will invoke it (classes are functions) and if it is object is it will use it as is. Same for for rules in the policy. They can be both "flat" p

[2018-09-05 03:30] #13 closed

[2018-09-05 03:32] mblarsen commented on #12
Thanks for the looking into this. Did you try out your suggestion in your project?

[2018-09-20 03:56] mblarsen commented on #12
Reproducible. Changed as suggested. Thanks for the contribution.

New version published to npm: 0.9.0

[2018-09-20 03:56] #12 closed

[2018-10-04 06:49] mblarsen opened #14 "Add test suite to test vue directive"
Set up test suite and write a few tests. It is not necessary to write tests for full coverage.

[2018-10-18 04:26] haoliangwu opened #15 "someRules or everyRules ?"
really awesome library.

I notice the current `$can` only accept `string` type `verb` parameter(same as the api provided by browser-acl). Is it possible to support `array` type that can pass multiple verbs and provide the additional permission resolve logic like `someRules` or `everyRules` ? or am I missing something that can implement this by existed API?

[2018-10-18 09:31] haoliangwu commented on #15
Thanks for your reply so quickly, my use case is something like show element if I can do verb-a or verb-b. The workaround you have given was my current solution.

Is it mean I should have just combined verb-a and verb-b to verb-c to cover this use case?

[2018-10-18 10:06] haoliangwu commented on #15
I found the better solution, just combine the verb-a and verb-b logic into the same verb-c, and bind it to subject-a and subject-b separately, then resolve the permission by `acl.some`. Does it sound right?

[2018-10-18 10:49] mblarsen commented on #15
As you explain it sounds right be remember that `some` referes to the subject. E.g. say you have `post`s in a blog and the can be edited if you are the author. Further, lets say that we have a <kbd>Edit inline</kbd> button we only want to show if there are some of the post on the page that can be edited.

[code]

The button is then only shown if the user is the author of at least one of the posts

[2018-10-18 11:34] haoliangwu commented on #15
I got it, thx.

[2018-10-18 12:33] #15 closed

[2018-12-12 07:26] alphaelf opened #16 "implement with Nuxt.js"
hi, i want use this client-acl with my nuxt app, but directive and route guards not work.

if i use `v-if="$can('use_search')"` will work.

this is how i install `vue-browser-acl`:

make plugin file in `plugins` directory

`resources/plugins/vue-browser-acl.js`:
[code]
and call this plugin in `nuxt.config.js`:
[code]

test directive and  router permission in `resources/pages/index.vue`:

[code]
__

[2019-01-08 10:45] sylfel commented on #16
Hi !

I've a similary problem. I declare one rule :
`Vue.use(Acl, user, (acl) => {
  acl.rule('admin', true)
})`

then in my template :
`<button v-if="$can('admin')">test</button>` ✔️
`<button v-can="admin">test</button>` 🚫 _Error: "Missing verb or subject"_
`<button v-can=" 'admin' ">test</button>` 🚫 _Error: "Missing verb or subject"_
`<button v-can:admin>test</button>` 🚫 _Error: "Missing verb or

[2019-01-08 23:07] mblarsen commented on #16
Please create a separate issue for this @sylfel

[2019-01-09 05:24] #16 closed, assigned to nobody

[2019-01-09 10:49] sylfel opened #17 "Directive with global rule"
Hi !

I've a problem with using a global with a directive. I declare one rule :
`Vue.use(Acl, user, (acl) => {
  acl.rule('admin', true)
})`

then in my template :
`<button v-if="$can('admin')">test</button>` ✔️
`<button v-can="admin">test</button>` 🚫 _Error: "Missing verb or subject"_
`<button v-can=" 'admin' ">test</button>` 🚫 _Error: "Missing verb or subject"_
`<button v-can:admin>test</button>

[2019-01-09 10:56] sylfel commented on #17
resolved in commit https://github.com/mblarsen/vue-browser-acl/commit/db2f45f1d898b763fde8e14e658f4b57ac1b45f3

[2019-01-09 11:03] #17 closed

[2019-01-10 02:39] mblarsen commented on #17
Thanks, @sylfel. Did you try the new version?

[2019-01-10 07:53] sylfel commented on #17
Yes ! version 1.10.0 resolve all my problem

Thanks a lot for this library

[2019-06-21 12:25] deraw commented on #17
Hi !

I've got the same error (and I'm using v0.10.0)!
Maybe that's because I'm using `v-can` on a `v-for`. As a workaround I'm filtering the items in a computed property using `this.$can(tab.role);`

[2019-07-16 12:57] jasminexie opened #18 "Vue router access control does not cover child routes"
I have a project using vue router with child routes.

[code]

Expected behavior: should not be able to navigate to '/goods/create'
Actual behavior: could not navigate to '/goods', but can navigate to '/goods/create'

Currently I'm working around this by specifying access control for each child route, but I think (intuitively and in most business logic) access control on parent routes should natura

[2019-07-18 06:44] mblarsen commented on #18
I agree with you that it should apply the parent route rules first. However, I'm not sure this is easily done. Have you looked into already? If you could access the router from the guard you may be able to access `matches` and thereby "rebuild" the hierarchy.

[2019-07-23 12:14] jasminexie commented on #18
We can access all matched routes in `router.beforeEach` using `to.matched`; as per Vue documentation it returns all matched routes in order of parent to child. I've reversed this array to give precedence to child ACL policies, which is relevant if any of the `meta.can` properties is a function.

There can be a problem when `meta.can` are functions that call `next` asynchronously. What I can do is

[2019-07-30 07:42] #18 closed

[2019-07-30 07:43] mblarsen opened #21 "Switch to Rollup"

[2019-07-30 07:44] mblarsen commented on #2
A playground I'm using https://codesandbox.io/embed/vue-browser-actl-routing-example-zdm8z

[2019-08-11 11:10] #2 closed

[2019-08-12 05:23] mblarsen commented on #17
@deraw do you mind opening a separate issue for that @deraw ?

[2019-08-13 02:57] #14 closed

[2019-08-13 02:57] #21 closed

[2019-09-04 11:23] TullariS opened #23 "v-can directive not working for <template>"
Hi,

v-can directive is not working for <template>. If i use any other tag (Vue component or HTML) it works.

None of the combinations work:
* `<template v-can="'verb Subject'">`
* `<template v-can="['verb', 'Subject']">`
* `<template v-can:verb="'Subject'">`

It does work if you use the helper:

`<template v-if="$can('verb', 'Subject')">`

Is this something that can be fixed or I'll just have to

[2019-09-04 18:48] mblarsen commented on #23
Yes, template tags works a but differently than others. I don't think this can be fixed. If you find an approach feel free to submit a PR.

The way to do it use v-if with $can as you mentioned.

I'll close this for now.

[2019-09-04 18:48] #23 closed

[2019-10-22 09:30] zcmk123 opened #24 "disable modifier can not change"
i'm using vuex mutations to modify user info, but i found out "disable" modifier can only disable button, when the state change, the button is still disable. i think the following code affect that

https://github.com/mblarsen/vue-browser-acl/blob/6158c953974a5631a5eb16089c9ba17b4b95c075/index.js#L184

[2019-10-23 02:08] zcmk123 commented on #24
readonly modifier has the same problem

[2019-10-23 03:51] mblarsen commented on #24
.. and so does hide I believe. Confirm?

Basically the the plugin currently isn't capable of switching state.

E.g. no mater what state it is in: hide, disable, readOnly, but not displayed, it should be able to switch state.

E.g. each state change should negate any possible previous state.

[code]
You are welcome to try to make a PR for this or parts of it. I recon that it easier to implement it

[2019-10-23 03:54] mblarsen commented on #24
Here is sandbox I sometimes use when developing https://codesandbox.io/embed/vue-browser-actl-routing-example-zdm8z

[2019-10-23 03:57] zcmk123 commented on #24
thx, i will check

[2019-10-23 04:01] mblarsen commented on #24
Note: I updated my reply above.

[2019-10-23 04:03] zcmk123 commented on #24
hide modifier don't have this issue
[https://i.imgur.com/R6xVXWf.gif](url)

[2019-10-23 04:16] mblarsen commented on #24
Okay, that's good. So the change should be rather small. Did you try it yet?

[2019-10-23 04:19] zcmk123 commented on #24
nope, i don't have much spare time right now... i will try it later

[2019-10-23 04:52] mblarsen commented on #24
I've published 0.13.2 that should work as expected. Please let me know if it works for you.

[2019-10-23 04:57] zcmk123 commented on #24
okay

[2019-10-23 04:59] zcmk123 commented on #24
yeah works perfect, thx

[2019-10-23 04:59] #24 closed

[2019-10-23 06:27] mblarsen commented on #24
Thanks for all the issue report and detective work @zcmk123 :)

[2020-02-27 20:26] xerk opened #25 "How it work with Laravel spatie permssions"
I use SPA Laravel with VueJs

I return user with roles and permissions and roles in Vuex states

so how I can generate ACL rule like my database permissions

I have bad logic sorry.

[2020-02-29 10:46] mblarsen commented on #25
Hi @xerk there is a working Vuex app in the example folder.

[2020-03-09 03:18] #25 closed

[2020-03-17 18:42] oh-yeah opened #27 "Async/Promises in Rule Tests"
We are attempting to lazy load some data that's required for rule tests.  This works fine for any rules that are triggered though route guards, but some of these rules are scoped below the route guard level.  Any time we try to return a Promise or use an async function, the rule passes.

Promise Example:
`acl.rule('verb', Subject, (user) => Promise.resolve(false));`
Async Example:
`acl.rule('verb'

[2020-03-19 09:03] mblarsen commented on #27
Thanks for reporting the issue. I’m a bit short on time at the moment, but I do see the usefulness of your request.

To be clear this only fails when used in template (v-can) or plain JS code ($can) right, and as you write not in route guards (where it works)?

[2020-03-23 02:02] mblarsen commented on #27
I tried to run this test:

[code]

I believe this is the case you are describing. Correct me if I'm wrong.

The test fails. Is 'true', should be 'false'. [`browser-acl`](github.com/mblarsen/browser-acl) converts the result of a function to `Boolean` before returning. We could change to return the promise unchanged. However, I don't think that will be much helpful for you.

E.g. `v-can` I'm not sur

[2020-03-23 22:14] oh-yeah commented on #27
Sorry there, the past week has been a bit crazy.  Let me answer some questions for ya.

We found 2 different paths we'd have to go down to lazy load permissions .
- The mixin, ie -> this.$can('edit', post)
- The directive, ie -> v-can:edit="post"

And, yes!  You have correctly described this use case in discussion.  And, one more yes.  True is always returned due to the boolean conversion of the p

[2020-03-24 03:17] mblarsen commented on #27
Things for replying to my questions.

Promises in `v-can` is not a very Vue like approach. The Vue way would be either to use Vuex or similarily manually fetching the result and pass it into $can. This is an example using Vue/JavaScript only:

[code]
As `otherImportantInfo` is loaded it is re-rendered (if needed). This solution puts the problem into your hands though.

How are you doing it now?

*

[2020-03-24 18:38] oh-yeah commented on #27
We do, as previously stated, store these permissions in state, a.k.a. Vuex.  I tend to think of our approach of lazy loading permission much like tree shaking, which is _very_ much a vue/webpack like approach.  Only load what's necessary to start up and load other resources as needed.

I would say an argument could be made either way on whether or not promises in a v-can should be supported.  I ge

[2020-03-28 12:05] mblarsen commented on #27
Thanks for all your input @oh-yeah. I'll need some time to think about a solution. I cannot promise anything on the short term. If you have more feedback/ideas they are most welcome.

[2020-03-31 07:37] stalniy commented on #27
@oh-yeah it's an interesting topic for me as well. Could you please answer these questions?

1. What is your permissions list's gzipped size (or [brotli](https://medium.com/oyotech/how-brotli-compression-gave-us-37-latency-improvement-14d41e50fee4) size)?
2. Can you decrease the size of permissions by using a different transfer format (e.g., [msgpack](https://msgpack.org/index.html))?
3. Why can't

[2020-03-31 13:38] oh-yeah commented on #27
Hi there @stalniy,

1. I had to check, our current permission for this app request is ~10k gzipped,  not big at all.  Please note, we are in the early stages, seriously the first round, of a multi year application rewrite.  This will grow as items are ported over as we are currently only returning minimum permission sets based on the work that's been completed.

2. Yes, we could use a different se

[2020-03-31 15:23] stalniy commented on #27
Thanks for your answers!

I want to note that 10kb is actually very big size, especially if we took compession into account. Are you sure that this number is correct? Is this HTTP payload size?

I took 1000 random rules (an array of objects `{ action: string, subject: string }`), saved in JSON and gzipped.  The  result is **1.3Kb**

[2020-03-31 15:38] stalniy commented on #27
Even lazy loading may be tricky in your case, you need to ensure that you don't send request for every `$can` (or `v-can`) call. To do this you will need a `debounce` mechanism. But even if you implement this to batch requests you are not saved from small incremental request for example in cases when subject or its type is changed. It's also an issue if a component needs to load a subject from API

[2020-03-31 15:40] stalniy commented on #27
Could you please also share the purpose of lazy loading? What is the initial requirements, I mean slow boot time, slow backend response, request creates high load  on the database (or something like this)?

[2020-03-31 17:09] oh-yeah commented on #27
I'm sorry, I provided incorrect information on the request size.  It's ~5kb uncompressed depending on the user.  Compressed this is around 1kb depending on the compression used.  This also includes metadata , additional parameters, required for some checks.  I unfortunately don't have time at the moment for you're other question/responses, but I'll get back to you soon.

[2020-04-02 06:38] cluidold opened #33 "Re-evaluate on pagination/search of datatable not working"
Hello,

I am using vuetify as a UI Framework and have a "refresh" problem in the datatable.
For every row in the table i display v-icon's for edit and delete action.
when i use v-can:edit="item" or v-can:delete="item" it works only for the initial load of the table.

If i use the search to reduce the results based on my search-term, the buttons still remain in the previous state. That means, if i

[2020-04-02 07:06] mblarsen commented on #33
Would you be able to create a working example of this on [codesandbox](https://codesandbox.io)?

I haven't used datatable myself. I'm wondering if it is a 100% Vue implementation.

[2020-04-02 07:18] cluidold commented on #33
thank you!

of course i will create a working example (hoepfully this week).

[2020-04-03 14:58] cluidold commented on #33
hi,

i have created a sample application (https://codesandbox.io/s/vuetify-vue-browser-acl-vywsx) but in this sample all is working fine. maybe i have another issue in my code.

so lets close this issue for now.

[2020-04-03 14:58] #33 closed

[2020-04-04 12:20] mblarsen commented on #33
Thanks for sharing the example. I hope you find a solution in your app.

[2020-04-06 08:51] thapar opened #34 "How does vue-browser-acl know where "admin" role comes from?"
Looking at the following [example code](https://github.com/mblarsen/vue-browser-acl/blob/cd59c233011b82b3413fc3154cb31e75d0b76ae5/example/src/router/index.js#L22) from the project:
[code]
How does the vue-browser-acl library know where to look to determine whether the user has the role 'admin' assigned to them?

[2020-04-06 09:51] thapar commented on #34
Turns out, this is a bad question, the answer is that it can be [found here](https://github.com/mblarsen/vue-browser-acl/blob/cd59c233011b82b3413fc3154cb31e75d0b76ae5/example/src/index.js#L55):

[code]

[2020-04-06 09:51] #34 closed

[2020-04-06 14:11] thapar opened #35 "How to make the directives react on state changes?"
I am using vue-browser-acl's custom directive as such:
[code]
With the following setup and rule:
[code]
And the following in my store:
[code]
 However, when a user logs in, the `<BaseSideNavigationMenu v-role:authenticated />` element does not show unless the page is refreshed. Likewise, upon logging out, the element remains visible until the page is refreshed.

How can vue-browser-acl's directive

[2020-04-06 16:36] mblarsen commented on #35
Check the index file in the example folder.

The user parameter must be a function if it is loaded dynamically.

[code]

[2020-04-06 22:26] thapar commented on #35
@mblarsen Upon further tinkering, I noticed that certain elements are reactive with `v-role:authenticated` tacked on, and others are not. I made the following changes, as per your suggestion, but the outcome of which elements are reactive still hasn't changed:
[code]
And I updated the `getters` portion of the store to include the following:
[code]
The [following elements](https://github.com/rajsin

[2020-04-07 03:53] mblarsen commented on #35
Can you please test if this works:

[code]

[2020-04-07 04:16] mblarsen commented on #35
I looked at the repo you shared.

All of the following isn't really about the issue you've raised. Just some observations. Home you don't mind :)

---

When you add ` () => store.getters.currentUser` you provide a function that Acl uses to pass as the first parameter to the rules you define.

So your rule should ideally be:

[code]
If the user is present you are authenticated. Although your `curre

[2020-04-07 04:20] thapar commented on #35
This works reactively as expected. Can the `v-role` syntax not be reliably used reactively?

[2020-04-07 04:26] thapar commented on #35
"authenticated" is only a simplified example. In the final application, there will be "moderator", "admin", "superadmin", etc. But as per your last example with `v-if="authenticated"` it seems like you're saying not to use vue-browser-acl 😭. I like the syntax of separating ACL permissions for components and routes from the business logic (the code will have plenty of other `v-if`s to deal with tha

[2020-04-07 04:28] mblarsen commented on #35
I haven't had any issues with it previously. When you work Vuex and async in general things change a bit. Anyway, I'll have to look more into to your issue. Thanks for testing the `$can` part.

Can you try this too:

[code]
Where `authenticated` is the getter from your store.

Never mind the logic. This is just to see what happens if it works after being forced to re-render by a parent. This is to

[2020-04-07 04:36] thapar commented on #35
Yes, it is reactive with the `v-if` wrapping.

[2020-04-08 04:41] thapar commented on #35
Hey @mblarsen, just wondering if you may have had a chance to look into the reactivity issue?

[2020-04-08 04:55] mblarsen commented on #35
I have not. Don't expect any quick response. I cannot put so much time into it at the moment.

[2020-04-27 12:53] cluidold commented on #33
Solution/Mistake found:
Vuetify needs a item-key Attribute with a key-value for every element in collections. The provided key-value didn't exist on the objects in the datatable.
After setting correct key-value, everything works as expected!

[2020-05-07 19:01] oh-yeah commented on #27
@mblarsen, just providing an update on this.  Unfortunately priorities have changed and I am currently working on a different project.  I'd love to see this added to the library, but I just don't have the bandwidth.  I think I'll close this issue, unless you would prefer it to stay open.

[2020-05-07 23:57] mblarsen commented on #27
That’s how things go sometimes.

I think we should close it.

Technically the solution seems more like a feature Vue should have at least at a low level. Making async declarative is difficult without some framework support.

Good luck with your new venture.

[2020-05-07 23:58] #27 closed

[2020-05-08 10:20] JasonLandbridge opened #38 "Typescript support?"
Hi,
Are there plans to include Typescript support?

[2020-05-08 14:55] mblarsen commented on #38
I’m not against it, but not a user. Would you be willing to make an initial PR.

ASI understand a type definition file would be enough?

[2020-05-08 15:11] JasonLandbridge commented on #38
Awesome, yeah I have never tried making it but I'm willing to give it a try. I will let you know

[2020-05-09 06:59] mblarsen commented on #38
Added thanks to @JasonLandbridge released version 0.13.6

[2020-05-09 06:59] #38 closed

[2020-05-15 13:02] Krzem0 opened #42 "vue-browser-acl with Vue in TS"
Hello,

How can I use vue-browser-acl with TypeScript in Vue?
When I try to import ACL, I have such information:
[code]
npm install @types/vue-browser-acl == 4O4

[2020-05-15 13:09] mblarsen commented on #42
@JasonLandbridge perhaps you can give a few pointers. You got it to work with the PR right?

[2020-05-15 13:44] Krzem0 commented on #42
Ok, so I'll add also, that I've added this file (https://github.com/mblarsen/vue-browser-acl/blob/master/types/vue-browser-acl.d.ts) to my @src folder and rename it shims-vue-browser-acl.d.ts but then didn't know how to fore Vue to use if with vue-browser-acl import module in other file .ts

[2020-05-15 14:29] JasonLandbridge commented on #42
@mblarsen, yeah in the end I didn't get it to work like I would have liked too but got caught up in work to take another look.

@Krzem0, have you added a "vue-browser-acl/types" to your tsconfig.json?

[2020-05-16 01:33] Krzem0 commented on #42
I've added this types to tsconfig, I hope, I did it properly, because lint didn't show error in this file, but still "Could not find a declaration file for module 'vue-browser-acl'." in the other. I give up for now and will opportunistically just set "noImplicitAny" tsconfig to false. ;)

[2020-05-20 14:11] #42 closed

[2020-05-20 14:12] mblarsen commented on #42
@JasonLandbridge @Krzem0 I've re-implemented vue-browser-acl and browser-acl in TypeScript and published new versions: 0.14.0 and 0.8.0 respectively.

![Screenshot from 2020-05-20 21-08-52](https://user-images.githubusercontent.com/247048/82456201-7e479f00-9ae6-11ea-8917-f5045b267869.png)

As you can see there is now full type support.

The tests are passing and I've briefly tried out the package

[2020-05-21 00:32] mblarsen opened #44 "Remove rollup config"

[2020-05-21 00:35] mblarsen opened #45 "Copy JSDoc from source to types"
Also consider turning the returned default object into a class. I think the mismatch between the d and the implementation is why the docs are not showing up.

[2020-05-21 02:27] #44 closed

[2020-05-21 02:28] mblarsen commented on #45
Added in 86423b7c439d9e4f5b0e308fdf64d0df01e84c9d

[2020-05-21 02:28] #45 closed

[2020-05-21 02:29] mblarsen commented on #42
The above screenshot is for Acl, this is for VueAcl:

![Screenshot from 2020-05-21 10-28-52](https://user-images.githubusercontent.com/247048/82516656-eed5d680-9b4d-11ea-8718-636b314b1e68.png)

[2020-05-21 02:30] mblarsen commented on #42
@Krzem0 please use version 0.14.2 and up.

[2020-05-24 17:04] Krzem0 commented on #42
Great job @mblarsen . I did all you describe above, and now it's working (in my case :D). I also can set back "compilerOptions" -> "noImplicitAny" to "true" because all types are known by linter. Thx a lot.

[2020-05-25 00:17] mblarsen commented on #42
I’m happy that it works for you now.

[2020-05-25 12:42] JasonLandbridge commented on #42
@mblarsen, thank you very much!

[2020-07-07 14:57] haykokalipsis opened #47 "Bug in nuxt.js. HTMLButtonElement is not defined"
So i try to implement this plugin in nuxt.js. with the help of this post [https://github.com/mblarsen/vue-browser-acl/issues/16#issue-390097257](url).
But the moment i import ACL from vue-browser-acl from plugins file, i get reference error "HTMLButtonElement is not defined".
I even removed all related code from template.

**Here is my vue-browser-acl.js file in plugins directory**
[code]

**And i

[2020-07-07 15:53] mblarsen commented on #47
This plugin doesn't deal with any HTMLElements in particular. There is no direct references to HTMLButtonElement.

Perhaps something is Nuxt makes a references to something that this plugin hides given your business logic.

But without a small reproducible example where the error reliably occurs, I really cannot do anything. Please provide such an example in https://codesandbox.io or similar.

[2020-07-07 16:23] haykokalipsis commented on #47
Here, i just did npm i vue-browser-acl, created file inside plugins directory and imported package there, and then connected that plgin in plugins array of nuxt-config.js
https://codesandbox.io/s/dreamy-breeze-dde96?file=/pages/index.vue

[2020-07-07 17:51] haykokalipsis commented on #47
Here, i just did npm i vue-browser-acl, created file inside plugins directory and imported package there, and then connected that plgin in plugins array of nuxt-config.js
https://codesandbox.io/s/dreamy-breeze-dde96?file=/pages/index.vue

[2020-07-08 10:18] maeglindeveloper opened #48 "How to pass additional parameters to policy"
Hi everyone,

I'm trying to use **policy** in my application.
Unfortunetely, I have some issue trying to pass additional arguments to my policy class.

Here is my **VintagePolicy** policy class:

[code]

I'm using it as follow in a **acl.ts** file, which instantiate the Acl object:

[code]

And I try to use it like this, using the helper **$can** in one of my component:

[code]

I would expect to

[2020-07-09 08:22] mblarsen commented on #48
Hi @maeglindeveloper

When you want to pass additional parameters you have to use the less attractive array syntax [described here](https://github.com/mblarsen/vue-browser-acl/#argument-flavor). Here is an example from the README:

[code]
another example from the array flavor section:

[code]

Here `post` is the additional param. In this example post is needed to determine if a comment can be dele

[2020-07-09 08:26] mblarsen commented on #48
This is the actual call to `browser-acl` from the directive:

[code]

and this is from the helper `$can`:

[code]

[2020-07-09 08:31] mblarsen commented on #47
Thanks for the sandbox. I'm not seeing any errors there, Nuxt builds and the console is empty.

Can you point me to the failure?

![Screenshot from 2020-07-09 16-29-08](https://user-images.githubusercontent.com/247048/87016732-ac518180-c201-11ea-89db-308bcba1b15d.png)

[2020-07-09 08:46] haykokalipsis commented on #47
Im sorry. I must have played with that sandbox after sending it. I had commented the import of vue-browser-acl library there. Here i uncommented it again and the error is back. [https://codesandbox.io/s/dreamy-breeze-dde96?file=/plugins/vue-browser-acl.js](url)
On my local dev environment (on my pc) i downgraded the plugin to 0.13.0 and it worked without that bug. I tried the version 0.14.3 but it

[2020-07-09 09:36] mblarsen commented on #47
Thanks for doing the detective work. It looks like Nuxt is trying to compile something that is probably shouldn't. Could you try to import one of the other build targets [as listed here](https://github.com/mblarsen/vue-browser-acl/tree/master/dist)?

[2020-07-09 09:42] haykokalipsis commented on #47
I'm afraid i do not understand what you mean. I see index.js, index.d.ts and bunch of other scary files. Please tell me what should i do in details.

[2020-07-09 09:45] mblarsen commented on #47
When you import:

[code]

as an example.

[2020-07-09 10:06] haykokalipsis commented on #47
I tried them all, and all of them cause the same "HTMLButtonElement is not defined" error.

[2020-07-10 02:36] mblarsen commented on #47
I just realized that you are using an old version 0.14.x which did in fact make references to concrete HTMLElement children like HTMLButtonElement. This was later removed in 0.15.x.

I had just assumed that you used the latest version. Can you please try again with version 0.15.1.

[2020-07-10 02:46] mblarsen commented on #47
:facepalm: haven't released that refactor yet. Just pushed to master ages ago. Will make a release.

[2020-07-10 02:52] mblarsen commented on #47
Just pushed 0.15.2. Please let me know how it goes.

[2020-07-10 04:14] haykokalipsis commented on #47
The error is gone and it works! But regarding to yor previous message, i;m pretty sure i was using the last (0.15.1) version when i was getting the error, since i had installed it without mentioning the version, like this "npm i vue-browser-acl", and checked the version in package.json. But whatever, with this 0.15.2 the error is gone. Thank you for your quick respond and fixing the problem. I'm g

[2020-07-10 05:02] #47 closed

[2020-07-11 12:51] mblarsen commented on #47
Yeah, my mistake. Sorry about that.

The issue reference didn't work because of incorrect use of rules as far as I can tell. Would you be interested in providing a Nuxt demo then I can link to the repo from the README. I'm not going to be using Nuxt at any time soon, so I wouldn't be the best to work on it. Just a thought :)

[2020-08-27 19:01] cxl-todd opened #52 "TypeError: r.some is not a function"
I'm receiving the error `TypeError: r.some is not a function` when using this following from my code:

```this.$can.some(['READ', 'ALL'], 'Foo');```

Please advise.

[2020-08-27 23:35] mblarsen commented on #52
Some refers to 'foo' not to the permissions.

`$can.some('read', ['foo'])`

So `some` translates to 'the user can read some of the foos'.

[2020-08-28 01:45] cxl-todd commented on #52
Ah. That makes sense. Is there no api for asking "can the user do any of these things to foo?"

[2020-08-28 02:50] mblarsen commented on #52
Hmm, :thinking: no.

But you could with little effort add it yourself.

After the plugin is installed I think you can do this:

[code]

Then use:

[code]

(still needs array as 2nd, but you could wrap that in your custom function if you don't want that)

[2020-08-28 12:09] cxl-todd commented on #52
Perfect, thanks!

[2020-08-28 12:09] #52 closed

[2020-09-09 16:44] cxl-todd opened #53 "Policy beforeAll not called in production mode"
I've run into a strange issue where I've defined all my rules in a policy and applied that to various targets in a plugin definition. This appears to install well enough and executes most of the code. However, the `beforeAll` function, while executing in `NODE_ENV=development` does nothing when executing in `NODE_ENV=production`. I cannot nail it down. Here are some snippets from the plugin source

[2020-09-09 17:41] cxl-todd commented on #53
Think I found the answer to my own question. The issue was the minification. As noted [here](https://github.com/mblarsen/browser-acl#register) the objects need to be mapped to strings manually. Adjusting the code as such
[code]
clears up the issue. In retrospect it didn't require _that_ much digging, but because it was so seemingly odd, and production build times so long in duration, it took me a

[2020-09-10 09:34] mblarsen commented on #53
Hi @cxl-todd so you have it work now once you register the models?

You can also check this section: https://github.com/mblarsen/browser-acl#verb-object-mapping.

I'll try to add some info to the `vue-brower-acl` docs. At least to point attention to webpack usage.

[2020-09-10 13:36] cxl-todd commented on #53
@mblarsen , yes it works using the mapping described. I only mention that elevating the related documentation may help others since it wasn't completely obvious.

[2020-09-10 13:36] #53 closed

[2020-09-11 02:07] mblarsen commented on #53
Hi @cxl-todd I appended a section to the README [setup section](https://github.com/mblarsen/vue-browser-acl#setup) what do you think?

[2020-09-11 02:09] #48 closed

[2020-09-11 08:30] cxl-todd commented on #53
Hey @mblarsen, looks good to me! Thanks!

[2020-09-17 13:04] josefsabl commented on #35
I am having exactly the same issue. Thanks for raising this up and coming to this workaround. I would however also appreciate if the better syntax would work reactively ;-)

[2020-09-19 09:17] mblarsen commented on #35
Hi @thapar @josefsabl

I've spend a little time updating the example (changes have been pushed).

 Would you mind checking it out and try this flow:

1. Log in as 'jane' in 'admin' group
2. See the Admin paragraph appear at the top
3. Log out and see
4. See the Admin paragraph disappear again

I'm wondering how this (working) example is different from users. When I log in and out the user object i

[2020-09-30 13:23] JoshuaLowe1002 opened #55 "Vue 3 + TS Support"
Was trying to use this with Vue 3. It looks like Vue.use has now been removed and you have to do createApp.use instead.

I tried plugging in the example but get this error, is Vue 3 support something that is planned to be added in the near future?
![image](https://user-images.githubusercontent.com/25752941/94690796-70bde380-0328-11eb-8d9b-429c7ec9e8cd.png)

[2020-10-01 03:08] mblarsen commented on #55
Aside from the typescript warnings. Did you have any issues?

Once Vue3 moves out of the `next` tag I'll look at upgrading. This plugin supports router, vuex, and nuxt so I have to make sure these work as well. So preferably I would be able to do all of these at once as things settles.

[2020-10-15 12:05] danielbachhuber opened #56 ""TypeError: el.style is undefined" when v-can is used in combination with v-show"
Thanks for the great library! I was pleasantly surprised to find something that exactly fits my needs.

Just wanted to give you a heads up that I'm seeing a `TypeError: el.style is undefined` error when using `v-can` in combination with `v-show`.

A couple of workarounds that work:
1. Use `v-if` instead of `v-show`.
2. Add a containing element and apply `v-can` there.

[2020-11-07 14:19] jackflyer opened #57 "Router "fail" callback in example seems not to work"
In provided example inside router/index.js  fail callback function for "admin" route is not working.  I used main branch for demo.
Should log [here](https://github.com/mblarsen/vue-browser-acl/blob/38f11ba37ef9f19c2935b6e278014d00a57366a8/example/src/router/index.js#L24).

[2020-11-13 06:04] ljcremer commented on #55
HI Michael.

Do you have any plans to make a Vue 3 version available?

[2020-11-15 05:54] mblarsen commented on #55
Yes, @ljcremer, check the comment just above yours :)

I'm also working on a new version of the underlying `browser-acl` library that better supports async permissions.

I cannot give you any time as to when this happens. PRs for Vue 3 are welcome if you are up for it?

[2020-11-16 16:07] ljcremer commented on #55
Ah great. Thanks

My knowledge of these things are still a bit weak but if I have some time I will look and see if I can help.

[2021-02-04 02:46] mblarsen commented on #56
Hi @danielbachhuber — The reason why `v-show` doesn't work is that it destructively changes the vnode and changing it into a comment ``. You can think of `v-can` as `v-if` in the sense where you would use it. E.g. you wouldn't put `v-if` and `v-show` together.

I'm happy to hear that you find the library helpful.

[2021-02-04 23:17] danielbachhuber commented on #56
@mblarsen Awesome! Thanks for the explanation 😄

[2021-02-25 12:24] algil opened #59 "Using $can outside a component"
How can I use the $can outside a Vue component instance? For example, in a service.

Thanks!

[2021-03-09 03:54] mblarsen commented on #59
`vue-browser-acl` is a wrapper around `browser-acl`.

When you set up the `vue-browser-acl` plugin you can ["bring your own acl"](https://github.com/mblarsen/browser-acl#setup).

[code]

[2021-03-31 13:37] #59 closed

[2021-03-31 13:38] #56 closed

[2021-04-21 11:13] danielbachhuber opened #63 "Putting v-can on a button component causes the disabled attribute to be lost"
I have a component like this:
[code]

If I import it into another component as `SecondarySaveButton`, then putting a `v-can` directive on it oddly causes the `disabled` attribute to be lost:

[code]

If I wrap the component with a `v-can` statement, the `disabled` attribute is rendered as expected:

[code]

[2021-04-27 06:51] mblarsen commented on #63
Can you try

[code]

By default [`.hide` modifier][1] is used. E.g. `v-can:tag-suggestions` is the same as `v-can:tag-suggestions.hide` what [`.disable` modifier][2] does is to control the `disabled` property instead of hiding the element.

[1]: https://github.com/mblarsen/vue-browser-acl#hide-modifier
[2]: https://github.com/mblarsen/vue-browser-acl#disable-modifier

[2021-04-28 13:52] danielbachhuber commented on #63
@mblarsen That won't quite do what we need, unfortunately. I'd like the button to be hidden in certain contexts, and temporarily disabled in others.

[2021-04-30 11:46] shkipan commented on #55
Hi everyone!
Is there any chance somebody can help me with using Acl with Vue 3 app? Since Vue global instance is currently unreachable, installation manual from Readme seems outdated. I've tried several options and kind of struggled with it.
Thanks for your attention!

[2021-05-07 08:09] postb99 opened #64 "Equivalent to v-else?"
Hello,

Interesting project, however I have a question: is there a nice way to manage the "v-else" feature?
Or use a standard v-else but make Vue 2 understand it?
If the user has the right then I display a component, else I display a specific styled error message (another component).
Maybe you have an option for this? This would be rather configured for every use rather than globally.
I would not

[2021-05-19 08:29] mblarsen commented on #64
You can use regular `v-if` in combination with this lib by using the `$can` object.

[code]

As you state a duplicate `v-can:munch` + `v-can:munch.not` is also an option.

`v-else` does not work with `v-can`.

[2021-05-19 08:31] mblarsen commented on #55
Hi @shkipan the lib needs to be updated for V3. I'm looking for help on this since I'm unable to work on it for the time being.

[2021-05-23 20:09] #64 closed

[2021-10-14 17:14] thomaslichtdotnet commented on #63
The disabled attribute is always initialized with false (index.ts line 230). After commenting this line it was working for me.

But I don't know if this causes other side effects.

[code]

[2021-10-15 02:06] mblarsen commented on #63
@thomaslichtdotnet instead of commenting it out, one could possibly check for the existence of the attribute and then only set it to false if not already there.

[2021-10-15 15:40] thomaslichtdotnet commented on #63
@mblarsen Thank you for your quick answer! I have created a Pull Request for the small fix. What do you think, are my changes ok?

[2021-10-30 01:38] austin-owensby opened #77 "Button appearing to unauthorized users."
I noticed a weird bug where a user could view a button that they were not authorized to view.

The setup for reproducing the bug was very particular so in addition to describing it here I've made a [repo](https://github.com/austin-owensby/VueTestBugProject) based off of your blog example that showcases the bug along side reproduction steps.

In order to get this to work I had to have 3 buttons, wh

[2022-04-05 09:38] zynth17 opened #83 "is this library support vue 3 already?"
hello, does this browser have support for vue 3?

[2022-04-08 18:02] mblarsen commented on #83
It is not ready yet. Working on it.

Some features were removed in Vue 3 that makes some functionality impossible. But the affected feature I actually considered removing anyway.

[2022-08-07 22:58] oliverkan commented on #83
@mblarsen is there any update about Vue3 support after your last message?
Thanks.

[2022-08-09 05:45] mblarsen commented on #83
I haven't published anything, but I pushed the branch that I'm working on. Unfortunately I'm busy in a new job so I don't have much time for the migration. But I'd gladly accept and review contributions.